
@keyframes p-animation{
    0%{
        visibility:hidden;
        margin-top:0px;
    }
    100%{
        visibility:visible;
        margin-top:20px;
    }
}

@keyframes button-animation{
    0%{
        visibility:hidden;
        bottom:0;
    }
    100%{
        visibility:visible;
        bottom:40px;
    }
}

@keyframes card-animation-in{
    from{
        opacity:0.5;
    }
    to{
        opacity:1;
    }
}

@keyframes card-animation-out{
    from{
        opacity:1;
    }
    to{
        opacity:0.8;
    }
}



.animated{
    animation:p-animation 0.5s;
    animation-iteration-count: 1;
    
}

.animated-button{
    animation:button-animation 0.5s;
    animation-iteration-count: 1;
    
}

.card-fade-in{
    animation:card-animation-in 0.25s;
    animation-iteration-count: 1;
}

.card-fade-out{
    animation:card-animation-out 0.5s;
    animation-iteration-count: 1;
}

@keyframes shape1-animation{
    from{
        transform: rotate(0deg);
        transform-origin: center;
    }
    to{
        transform: rotate(-5deg);
    }
}

@keyframes shape2-animation{
    from{
        transform: rotate(0deg);
        transform-origin: center;
    }
    to{
        transform: rotate(5deg);
    }
}

.shape-animation{
    animation:shape1-animation 0.5s ease-in-out alternate 2;
    /* animation-direction:alternate;
    animation-iteration-count:2; */
}

.shape2-animation{
    animation:shape2-animation 0.5s ease-in-out alternate 2;
    /* animation-direction:alternate;
    animation-iteration-count:2; */
}

.skill:hover{
    transform:scale(1.1);
    transition:transform 0.5s;
    cursor:inherit;
}

@keyframes gearAnimation{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
        transform-origin:center;
    }
}



h1[data-scroll="in"],h2[data-scroll="in"],.welcome-paragraph[data-scroll="in"]{
    opacity:1;
    transition:all 1.5s;
}



.line[data-scroll="in"]{
    transform:scale(1);
    transform-origin:left;
    transition:transform 1s;
    
}

.skill[data-scroll="in"],.tool[data-scroll="in"]{
    transform:rotate(0);
    transform:scale(1);
    transition:0.7s ease-in;
}

.gear[data-scroll="in"]
{  
    animation:gearAnimation 10s infinite linear;
    animation-delay:1.5s;
}

.project-description p[data-scroll="in"],.about-me-text-wrapper p[data-scroll="in"]{
    top:0;
    opacity:1;
    transition:1s ease-in-out;

}



.project-image[data-scroll="in"]
{
    opacity:1;
    transition:opacity 1s ease-in-out;
}

.profile-photo[data-scroll="in"]
{
    transform: translateX(0);
    transition:1s cubic-bezier(0.39, 0.58, 0.57, 1);
}


.contact-me[data-scroll="in"]{
    transform:scale(1);
    transition:2s;
}