@media only screen and (max-width:1020px){
    .shape-1{
        width:45vw;
        left:calc(50% - 22.5vw);
    }

    .shape-2{
        width:63vw;
        left:calc(50% - 31.5vw);
    }

    .shape-3{
        width:90vw;
        left:calc(50% - 45vw);
    }

    .wrench{

    }

    .about-me-section{
        font-size:0.8rem;
    }
}

@media only screen and (max-width:900px){
    /* burger menu */
    .main-section{
        margin-top:0;
    }

    .hello-content{
        max-width:90%;
    }
    .nav{
        display:none;
    }

    .main-shape{
        display:none;
    }

    .hello-content{
        color:white;
    }
}

@media only screen and (max-width:846px){
    
    .gear{
        display:none;
    }

    .about-me-section{
        min-height:500px;
    }
}


@media only screen and (max-width:767px){
    
    
    .skill{
        width:100px;
        font-size:1rem;
    }

    .skills-header{
        margin-top:100px;
    }

    .ending{
        height:100px;
    }


    .wrench{
        width:80%;
        left:10px;
        bottom:-100px;
        min-width:400px;
    }

    .about-me-container{
        flex-wrap:wrap;
        justify-content:center;
    }

    .profile-photo{
        flex:0 1 70vw;
        height:70vw;
    }
}


@media only screen and (max-width:376px){

    .hello-content{
        font-size:0.6rem;
    }

    .shape-top, .shape-bottom{
        visibility: visible;
    }
    .skills-section{
        min-height:500px;
    }

    .skills-content{
        width:100%;
    }

    .skill{
        width:80px;
        font-size:0.7rem;
        margin:5px;
    }
    .wrench{
        min-width:200px;
        top:6px;
        left:50px;
    }
}

@media only screen and (max-width:281px){
    
}