@media only screen and (min-width:1210px){
    .contact-wrapper{
        width:70%;
        justify-content: space-between;
    }

    .project{
        
        column-gap:50px;
    }
}
@media only screen and (max-width:1020px){
    .shape-1{
        width:45vw;
        left:calc(50% - 22.5vw);
    }

    .shape-2{
        width:63vw;
        left:calc(50% - 31.5vw);
    }

    .shape-3{
        width:90vw;
        left:calc(50% - 45vw);
    }

    .wrench{

    }

    .project-image{
        background-position:top left;
    }
    .about-me-section{
        font-size:0.8rem;
    }

    .shape-yellow{
        right:10px;
    }
}

@media only screen and (max-width:900px){
    /* burger menu */
    .burger-menu{
        display:inline-block;
    }
    .nav{
        width:100%;
        z-index:100;
        background-color:transparent;
        display:flex;
        justify-content: flex-end;
    }
    .nav-wrapper{
        position:fixed;
        height:100vh;
        top:0;
        left:100vw;
        display:flex;
        justify-content:center;
        align-items:center;
        margin:0 auto;
        right:unset;
        width:100%;
        background-color:rgb(206, 227, 255);
        transition:transform 0.5s ease-out;
        
        
        
    }

    .nav-wrapper ul{
        padding:0;
    }
    .nav-item{
        display:block;
        margin:0;
    }
    .nav-item a{
        display:block;
        color:black;       
    }
    
    .main-section{
        margin-top:0;
        overflow:hidden;
    }

    .hello-content{
        max-width:90%;
    }
    

    .main-shape{
        display:none;
    }

    .shape-top{
        visibility: visible;
    }

    .hello-content{
        color:white;
    }

    .project{
        
        column-gap:20px;
    }
    .tool{
        width:100px;
    }

    .shape-yellow{
        width:700px;
        top:120px;
    }
}

@media only screen and (max-width:846px){
    
    .gear{
        display:none;
    }

    .project{
        padding:50px 0;
        /* grid-template:30% auto 20% / 1fr 1fr;
        grid-template-areas: "text text"
        "image image"
        "tools tools";
        
        column-gap:0; */
        display:flex;
        flex-wrap:wrap;
        
    }
    .project-description{
        min-height:unset;
    }
    .project-image{
        margin-top:30px;
        background-position:center;
        min-height:300px;
        width:100%;
        
    }

    .project-tools{
        width:100%;
        padding-top:50px;
        justify-content:center;
        
    }

    .tool{
        box-sizing:content-box;
        font-size:1rem;
        height:20px;
        padding:10px;
    }

    .about-me-section{
        min-height:500px;
    }

    .shape-yellow{
        width:600px;
        top:10vh;
    }

    
}


@media only screen and (max-width:767px){
    
    
    .skill{
        width:100px;
        font-size:1rem;
    }

    .skills-header{
        margin-top:100px;
    }

    .ending{
        height:100px;
    }


    .wrench{
        width:80%;
        left:10px;
        bottom:-100px;
        min-width:300px;
    }

    .about-me-container{
        flex-wrap:wrap;
        justify-content:center;
    }

    .profile-photo{
        flex:0 1 70vw;
        height:70vw;
    }

    .shape-yellow{
        display:none;
    }
}


@media only screen and (max-width:376px){

    .hello-content{
        font-size:0.6rem;
    }

    
    .skills-section{
        min-height:500px;
    }

    .skills-content{
        width:100%;
    }

    .skill{
        width:80px;
        font-size:0.7rem;
        margin:5px;
    }
    .wrench{
        min-width:200px;
        top:6px;
        left:50px;
    }
}

@media only screen and (max-width:300px){
    
    .project-title{
        font-size:1.5rem;
    }
}