*, *::after, *::before{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    color:#35393a;
}

.visible{
    pointer-events:initital;
}
.modal-wrap{
    height:100vh;
    pointer-events:none;
    position:fixed;
    width:100vw;
    z-index:110;

    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    
}

.mask{
    background:rgba(0, 0, 0, 0.5);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}

.modal{
    max-width:700px;
    width:700%;
    align-items: center;
    background-color:white;
    height:100vh;
    z-index:200;
}
.nav{
    width:100%;
    position:fixed;
    top:0;
    right:0;
    height:40px;
    padding:0px;
    background-color:#4F4A4A;
    z-index:100;
}

.nav-wrapper{
    position:fixed;
    min-width:70%;
    right:0;
}
.nav-wrapper ul{
    
    list-style: none;
    margin:10px;
    font-size:20px;
}
.nav-item{
    width:110px;
    display:inline-block;
    margin:0 20px;
    position:relative;
    text-align: center;
    color:white;
}

.nav-item::before{
    content:' ';
    display:block;
    width:130px;
    height:1em;
    
    position:absolute;
    top: calc(50% - 0.5em);
    left:-10px;
    z-index:-100;
    transform:scaleX(0);
    transition: 0.25s linear;

}

.nav-item:hover:before,
.nav-item:focus:before{
    transform:scaleX(1);
}

.nav-item:hover{
    color:black;
    transition:all 0.5s;
}

.item-1::before{
    background-color:rgb(250, 152, 152);
}

.item-2::before{
    background-color:rgb(250, 240, 152);
}

.item-3::before{
    background-color:rgb(152, 250, 250);
}

.item-4::before{
    background-color:rgb(209, 170, 245);
}

.item-5::before{
    background-color:rgb(195, 214, 248);
}

.main-section{
    margin-top:40px;
    width:100%;
    height:100vh;
    min-height:560px;
    background-color: #4F4A4A;
    display:flex;
    position:relative;
    align-items: center;
    justify-content: center;
}


h1{
    font-size:3rem;
    
    margin:20px 0;
}
h2{
    font-size:2.5rem;
    margin:10px 0;
    
}

.welcome-paragraph{
    margin:20px 0;
    font-size:2rem;
    font-weight:bold;
    text-align:center;
}

.hello-content{
    height:60vh;
    flex-grow:1;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    max-width:1200px;
    /* text-align:center; */
    z-index:100;
    color:#2C2A27;
    
    
}

.main-shapes{
    background-image: url("../img/main-shapes-light.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    width:1000px;
    height:100vh;
    position:absolute;
    left:calc(50% - 500px);
    top:calc(50% - 45vh);
    margin-top:-30px;
}




.ending{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom left; 
    height:100px;
    width:100%;
    z-index:10;
}
.grey-ending{
    background-color:white;
    background-image: url('../img/div_bottom_grey.svg');

}

.white-ending-1{

    background-color:#EFE4BC;
    background-image: url('../img/div_bottom_white.svg');
}

.dark-grey-ending{

    background-color:rgb(37, 37, 37);
    background-image: url('../img/div_bottom_dark.svg');

}

.dark-grey-ending-2{

    background-color:#EFE4BC;
    background-image: url('../img/div_bottom_dark.svg');

}
.grey-ending-2{

    background-color:#4F4A4A;
    background-image: url('../img/div_bottom_grey.svg');

}

.skills-section{
    width:100%;
    background-color:#EFE4BC;
    position:relative;
}

.skills-content{
    width:80%;
    display:flex;
    flex-direction: column;
    margin:0 auto;
    align-items: center;
    height:100vh;
    justify-content: center;
}

.skills-header{
    text-align: center;
    margin-bottom:60px;
}

.skills-container{
    margin:0 auto;
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    width:80%;
    flex-wrap:wrap;
    justify-content:center;
    position: relative;
}

.skill{
    z-index:20;
    width:140px;
    padding:15px;
    background-color:#626A80;
    border-radius:20px;
    margin:10px;
    text-align:center;
    color:white;
    font-size:1.5rem;
}

.gear{
    background-image: url("../img/File_Gear_icon.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position: top left;
    width:200px;
    height:150px;
    position:absolute;
    right:-100px;
    top:-40px;
    opacity:0.4;
}

.wrench{
    background-image: url("../img/wrench.png");
    background-repeat:no-repeat;
    background-size:contain;
    width:40%;
    height:80%;
    position:absolute;
    left:10vw;
    bottom:0;
}

.projects-section{
    width:100%;
    background-color:#4F4A4A;
    padding-top:20px;
    
}

.projects-content{
    width:90%;
    margin:0 auto;
}

.projects-header{
    text-align: center;
    color:white;
}

.projects-container{
    margin-top:60px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.project{
    margin:10px;
    flex-basis:300px;
    flex-shrink:0;
    height:300px;
    background-color:#AFB0C2;
    
    box-shadow: 8px 3px 18px -5px rgba(141,138,158,0.64);
    border-radius:.25rem;
    position:relative;
}

.project::before{
    content:'';
    width:300px;
    height:300px;
    position:absolute;
    top:0;
    left:0;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    border-radius:.25rem;
}

.project:hover::before{
    cursor:pointer;
    opacity:0.2;
}


.jazz-harmonizer::before{
    
    background-image: url('../img/jazzharmonizer.JPG');  
}


.snake::before{
    background-image: url('../img/snake.JPG');
}

.harmonizer::before{
    background-image: url('../img/harmonizer.JPG');
}

.waveshape::before{
    background-image: url('../img/waveshape.JPG');
}


.project-title{
    color:black;
    font-weight:bold;
    margin:20px auto;
    width:100px;
    text-align:center;
}

.project-button{
    display:block;
    width:60%;
    padding:10px;
    visibility: visible;
    position:absolute;
    left:20%;
    bottom:40px;
}
.hidden{
    visibility:hidden;
}





.about-me-section{
    width:100%;
    background-color:#EFE4BC; 
    position:relative;
}

.about-me-container{
    width:80%;
    height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0 auto;
}

.profile-photo{
    background-image: url("../img/profile\ photo.png");
    flex:1 1 50%;
    height:80vh;
    background-repeat:no-repeat;
    background-size:contain;
}

.about-me-text-wrapper{
    flex:1 1 50%;
    line-height:1.5em;
    font-size:1.5em;
    text-align:justify;
    
}


.contact-section{
    width:100%;
    background-color:#4F4A4A;
    height:100vh;
}

.contact-wrapper{
    width:80%;
    height:100vh;
    display:flex;
    align-items:center;
    margin:0 auto;
}

.contact-me{
    height:60vh;
    margin-right:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-basis:50%;
    background-image:url("../img/frame_contact.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}
.contact-me-header{
    color:#B5E1AD;
}

.form-wrapper{
    flex-basis:50%;
}

.footer{
    background-color: rgb(37, 37, 37);
    width:100%;
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.footer-icons{
    display:flex;
    justify-content:center;
}

.footer-icon{
    margin:10px;
    
}

.footer-icon a{
    display:block;
    width:40px;
    height:40px;
}

.footer-icon a:hover{
    opacity:0.5;
    cursor:pointer;
}

.icon-color{
    fill:white;
}


.icon{
    width:40px;
    height:40px;
}

.footer-text{
    color:white;
}